#div_status{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    padding: 10px;
    margin-right: 10px;
    border: black 5px solid;
    border-radius: 20px;
    font-size: 20px;
}

#div_status div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px #ffffff;
}